{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.firstName, {'label': 'Prénom', 'attr': {'placeholder': 'John'}}) }}
    {{ form_row(form.lastName, {'label': 'Nom', 'attr': {'placeholder': 'Doe'}}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'john.doe@symfony.fr'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Votre mot de passe'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Confirmez votre mot de passe'}}) }}


    <button type="submit" class="btn btn-info">Créer un compte</button>

    {{ form_end(form) }}



{% endblock %}