{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <h1>Informations sur <i>{{ animal.name }}</i></h1>

        <p>Type : {{ animal.type }}</p>
        <p>Race : {{ animal.race }}</p>
        <p>Age : {{ animal.age }}</p>
        
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#box" aria-expanded="false" aria-controls="collapseExample">
            Voir le box
        </button>

        <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#geolocalisation" aria-expanded="false" aria-controls="collapseExample">
            Géolocalisation
        </button>
        
        <div class="collapse" id="box">
            <div class="card card-body">
            {% if animal.race == 'Pitbull' %}
                <img src="{{ '/image/box2.jpg' }}" alt="">
            {% else %}
                <img src="{{ '/image/box.jpg' }}" alt="">
            {% endif %}
            </div>
        </div>
        <div class="collapse" id="geolocalisation">
            <div class="card card-body">
                <img src="{{ '/image/geoloc.png' }}" alt="">
            </div>
        </div>

        

    <div class="mt-3">
        <a href="{{ path('profil') }}" class="btn btn-info">Retour à votre profil</a>
    </div>

{% endblock %}