{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <h1>Bienvenue {{ user.userName }} sur votre profil</h1>

    <h4>Vos informations : </h4>
    <p>Nom : {{ user.lastName }}</p>
    <p>Prénom : {{ user.firstName }}</p>
    <p>Pseudo : {{ user.userName }}</p>
    <p>Email : {{ user.email }}</p>

        <div class="row">
            {% for animal in user.animals %}
                <div class="card col-4 m-2">
                    <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{ animal.name }}</h4>
                            <p class="card-text">
                                <p>Type : {{ animal.type }}</p>
                                <p>Race : {{ animal.race }}</p>
                                <p>Age : {{ animal.age }}</p>
                            </p>
                            <a href="{{ path('show_animal', {'id':animal.id}) }}" class="btn btn-info">Voir l'animal</a>
                        </div>
                </div>
            {% endfor %}
        </div>




{% endblock %}