{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <h1>Nous contacter</h1>

    {{ form_start(form) }}
        {{ form_row(form.subject, {'label': 'Sujet du message', 'attr': {'placeholder': 'Prise de RDV, Soins esthétiques, etc...'}}) }}

        {{ form_row(form.content, {'label': 'Message', 'attr': {'placeholder': 'Votre message'}}) }}
        <div class="row">
        
        <div class="col-6">
        {{ form_row(form.date_rdv, {'label': 'Date de RDV'}) }}
        </div>
        <div class="col-6">
        {# boucle pour afficher les animaux avec id user #}
        {{ form_row(form.animal_idanimal, {'label': 'Animal concerné (optionnel)'}) }}
        </div>
        </div>

        <button type="submit" class="btn btn-success">Envoyer le message</button>
    {{ form_end(form) }}


{% endblock %}